/* Start Viewport desktop */
#body-content { height:969px; }
#txtBox_67 { top:778px; left:538px; width:400px; height:157px; z-index:107; }
#fancyFormBuilder_54068 { top:463px; left:538px; width:400px; height:294px; z-index:108; }
#gmap_72 { top:463px; left:23px; width:459px; height:425px; z-index:106; }
#imageContainer_73 { top:0px; left:0px; width:100%; height:400px; z-index:109; }
#txtBox_68 { top:160px; left:184px; width:612px; height:113px; z-index:110; }
#stripTool_69 { top:400px; left:0px; width:100%; height:569px; z-index:103; }
body {  }
/* End Viewport desktop */
