#body-content { height:640px; }
#txtBox_91 .lh-280 .wse-txt-size { line-height:28px; }
.wse-personalize#btnTool_93 .wseA { border-width:1px; border-radius:50.00px 50.00px 50.00px 50.00px; overflow:hidden; }
.wse-personalize#btnTool_93 .wseA .wseT { padding-left:1px; padding-right:1px; }
body {  }